<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="modal-body">
              <h2>Lose Gain Maintain</h2>
              <hr class="star-primary">
              <p>Track weight individually and start competitions</p>
              <p>Web application deployed on heroku.  Made with Rails.</p>
              <ul class="list-inline item-details">
                <li>Site:
                  <strong>
                    <a href="http://losegain.herokuapp.com/">Lose Gain</a>
                  </strong>
                </li>
                <li>Code:
                  <strong>
                    <a href="https://github.com/c1505/lose-gain-maintain">Github</a>
                  </strong>
                </li>
              </ul>
              <button class="btn btn-success" type="button" data-dismiss="modal">
                <i class="fa fa-times"></i>
                Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
